#gallery{
    height: auto;
    background-color: #1C3D41;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.gallery-head{
    color: #f3f3eb;
    height: 5em;
    margin-top: 1em;
    font-size: 1.5em;
}

.gallery-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 3em;
}

.card{
    width: 18em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 1em;
}

.card image{
    width: 20em;
    height: auto;
}

#footer{
    background-color: #f3f3eb;
    color: #1C3D41 !important;
}
#footer a{
    color: #1C3D41 !important;
}

#footer li{
    color: #1C3D41 !important;
}

#footer h2{
    color: #1C3D41 !important;
}

@media (max-width: 1200px){
    .gallery-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1000px){
    .gallery-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px){
    .gallery-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}