#gallery{
    height: auto;
    background-color: #f3f3eb;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.gallery-head{
    color: #0c4c54;
    height: 5em;
    margin-top: 1em;
    font-size: 1.5em;
}

.gallery-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 3em;
}

.card {
    width: 20em;
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 0;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card image{
    width: 100%;
    height: auto;
    transition: transform 0.3s ease; /* Smooth transition for image scaling */

}

.card:hover .card-image {
    transform: scale(1.1); /* Increase the image size */
}

#footer{
    background-color: #0c4c54;
    color: #f3f3eb !important;
}
#footer a{
    color: #f3f3eb !important;
}

#footer li{
    color: #f3f3eb !important;
}

#footer h2{
    color: #f3f3eb !important;
}

@media (max-width: 1200px){
    .gallery-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1000px){
    .gallery-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px){
    .gallery-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}