


body{
    margin:0;
    border: 0;
    padding:0;

    font-family:   'Arial', sans-serif;
}


#header{
    width: 100%;
    position: sticky;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    height: 9em;
    top: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#mobile-menu{
    display: none;
}

.top-line{
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0c4c54;
    color: #f3f3eb;
    padding-left: 3em;
    padding-right: 3em;
}
.top-line a{
    color: #f3f3eb;
    text-decoration: none;
    cursor: pointer;
}
.top-line a:visited{
    color: #f3f3eb;
}

.second-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 6em;
    background-color: #f3f3eb;
}

#logo{
    width: 25em;
    height: auto;
}


#main-nav{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    height: 100%;
    width: 30em;

}

.main-list{
    flex: 1;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-list:hover a{
    color: #729494;
}

.main-list a{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    color: #1C3D41;
    height: 100%;
}
.dropdown{
    display: none;
}

.hamburger{
    display: none;
    cursor: pointer;
}

#home{
    overflow: hidden;
    background-color: #f3f3eb;
    width: 100%;
    height: 40em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f3f3eb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container{
    align-self: flex-end;
    margin: 0;
    padding: 0;
    display: flex;
}

.home-image{
    width: 40em;
    height: auto;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
    margin: 0;
    padding: 0;
    align-self: flex-end;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.welcome-container{
    margin-left: 8em;
    margin-top: -10em;
}

.h1{
    font-size: 2em;
    position: relative;
    opacity: 0;
    transform: translateX(100%);
    animation: slideIn 1s ease-out forwards;
    color: #0c4c54;

}

.h2{
    position: relative;
    opacity: 0;
    transform: translateX(100%);
    animation: slideIn 1s ease-out forwards;
    color: #0c4c54;
    font-weight: lighter;
    margin-top: -0.5em;

}

.h3{
    position: relative;
    opacity: 0;
    transform: translateX(100%);
    animation: slideIn 1s ease-out forwards;
    color: #0c4c54;
    font-weight: lighter;
    margin-top: -0.5em;
}


.call-now{
    height: 4.3em;
    width: 18em;
    border-radius: 0.4em;
    background-color: #0c4c54;
    cursor: pointer;
    border: none;
    position: relative;
    opacity: 0;
    transform: translateX(100%);
    animation: slideIn 1s ease-out forwards;
}

.h1 {
    animation-delay: 0s; /* First element appears immediately */
}

.h2 {
    animation-delay: 0.3s; /* First element appears immediately */
}

.h3 {
    animation-delay: 0.5s; /* First element appears immediately */
}

.call-now{
    animation-delay: 1s;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.call-now a{
    color: #f3f3eb;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}
.call-now:hover{
    background-color: #729494;
}

#contact{
    background: #f3f3eb;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#info-sk,
#info-pp{
    display: flex;
    flex-direction: row;
}


.lokacija,
.telefon,
.email{
    background-color: rgba(226,223,213,0.5);
    height: 10em;
    width: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2em;
    color: #0c4c54;
}
.location-picker{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1.3em;
}

.location-picker h2{
    color: #1C3D41;
    font-size: 1.8em;
}

.btn-container button{
    border: none;
    background-color: #0c4c54;
    color: #f3f3eb;
    height: 3.8em;
    width: 20em;
    font-size: 1em;
}
.btn-container button:hover{
    background-color: #729494;
}

iframe{
    width: 80em;
    margin-bottom: 1em;
}

#footer{
    width: 100%;
    height: 16em;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #0c4c54;
    flex-wrap: wrap;

}

.footer-menu{

    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #f3f3eb;
    flex: 1;
    height: 100%;

}

.footer-menu h2{
    padding: 1em;
    display: flex;
    align-items: center;
}

.footer-menu ul{
    margin-top: -1em;
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.footer-menu ul li{
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer a{
    color: #f3f3eb;
    text-decoration: none;
    cursor: pointer;
}
#footer a:visited{
    color: #f3f3eb;
}






/*Uslugi index*/

#index-sercives{
    width: 100%;
    height: auto;
    background-color: #E2DFD5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#services-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    position: relative;
    overflow: hidden;
    margin-bottom: 4em;
}

#index-sercives .services-title{
    margin-top: 2em;
    margin-bottom: 2em;
    color: #0c4c54;
    font-size: 2.5em;
}
#services-wrapper i{
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
    margin: 0 10px;
    text-align: center;
    z-index: 2;
    display: none;
}

.services-list{
    width: 100%;
    transition: transform 0.4s ease-in-out;
    user-select: none;
    gap: 1rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}


.card{
    height: 30em;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;  /* Initially, the card is hidden */
    transform: translateY(-50px); /* Start the card above its normal position */
    animation: appearFromTop 0.5s forwards; /* Apply the animation */

}

@keyframes appearFromTop {
    to {
        opacity: 1;
        transform: translateY(0); /* The card moves to its normal position */
    }
}

.card img{
    width: 18em;
    height: auto;
    margin-top: 1em;
    transition: transform 0.3s ease; /* Smooth transition for image scaling */
}

.card:hover .card-image {
    transform: scale(1.1); /* Increase the image size */
}

.card p{
    height: 1em;
    font-size: 0.8em;
    padding-bottom: 0.3em;
    text-align: center;
}

.card h2{
    height: 0.2em;
    font-size: 1.2em;
    padding: 0.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card button{
    width: 100%;
    height: 4em;
    background-color: #0c4c54;
    border: none;
    margin-top: 0.5em;
    transition: background-color 0.3s ease; /* Smooth transition for color change */
}



.card:hover button{
    background-color: #729494;
}

.card a{
    color: #f3f3eb;
    text-decoration: none;
}
.card a:visited{
    color: #f3f3eb;
}



@media (max-width: 1324px) {
    .services-list {
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
    }

    .services-list .card{
        width: 22em;
    }

    .services-list .card img{
        width: 20em;
    }

    .lokacija,
    .telefon,
    .email{
        width: 15em;
    }

    .lokacija p{
        text-align: center;
    }

    iframe{
        width: 85vw;
        padding-bottom: 3em;
        padding-top: 3em;
    }

    .footer-menu h2{
        height: 1.3em;
        font-size: 1.2em;
    }

    .info{
        padding-top: 2em;
    }

    #home{
        overflow: hidden;
    }

    .gallery-container .card{
        width: 19em;
    }

    .home-image{
        width: 38em;
    }
    
}

@media (max-width: 970px) {

    body{
        margin: 0;
        padding: 0;
    }

    #home{
        overflow: hidden !important;
    }



    #footer{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
        padding-bottom: 2em;

    }

    .footer-menu{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .footer-menu ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }



    .footer-menu ul li{
        display: flex;
        align-items: start !important;
        justify-content: start !important;

    }

    .lokacija,
    .telefon,
    .email{
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }



    .info p:visited{
        color: #f3f3eb;
    }

    iframe{
        height: 15em;
        width: 95vw;
    }

    .location-container{
        height: 25em;
        width: 90%;
    }

    #contact{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        height: auto;
        padding-bottom: 0;
    }

    .tel:visited{
        color: #f3f3eb;
        cursor: pointer;
    }
}

@media (max-width: 940px) {
    .services-list {
        grid-template-columns: repeat(1, 1fr);
    }


    .top-line-right a{
        margin-left: 1em;
        font-size: 0.9em;
    }

    .top-line-left a{

        font-size: 0.9em;
    }
    #home{
        width: 100%;
        background-color: #f3f3eb;
        overflow: hidden !important;
    }

    .welcome-container{
        margin-left: 3em;
        margin-top: 1.5em;
    }
    .h2{
        width: 15em;
    }

    .location-container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    iframe{
        width: 85vw;
        margin: 0;
        padding: 0;
        height: 20em;
    }

    .info{
        margin: 2em;
    }
    .lokacija,
    .telefon,
    .email{
        margin: 0.2em !important;
        width: 15em !important;
    }

    /*#footer{*/
    /*    grid-template-columns: repeat(2, 1fr);*/

    /*}*/

}

@media (max-width: 770px) {

    .lokacija,
    .telefon,
    .email{
        margin: 0.2em !important;
    }

    .top-line{
        justify-content: space-between;
        /*padding-left: 0.8em !important;*/
        /*padding-right: 0.8em !important;*/
    }

}

@media(max-width: 767px) {

    body{
        margin: 0;
        padding: 0;
        width: 100%;
    }


    .top-line{
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .top-line-left{
        display: flex;
        flex-direction: column;
        align-items: start;
        font-size: 0.9em;
        margin-left: 0.8em;
    }
    .top-line-right{
        display: flex;
        flex-direction: column;
        align-items: end;
        font-size: 0.9em;
        margin-right: 0.8em;
    }
    .top-line a{
        font-weight: bold;
        font-size: 0.8em;
    }

    .home-image{
        width: 22em;
    }
    .h2{
        display: none;
    }
    .h1{
        font-size: 1.4em;
    }
    .h3{
        font-size: 1em;
    }
    .call-now{
        height: 5em;
        width: 15em;
        font-size: 0.7em;
    }
    .welcome-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin-top: 0.3em;


    }

    #home{
        overflow: hidden;
        display: inline-flex !important;
        justify-content: start !important;
        align-items: center !important;
        height: 20em;
        width: 100% !important;
    }

    #info-sk{

        flex-direction: column;
        margin: 0 !important;
        width: 90%;

    }
    #info-pp{
        flex-direction: column;
        margin: 0 !important;
        width: 90%;

    }

    .location-picker{
        flex-direction: column;
        font-size: 0.5em;
    }
    .btn-container{
        flex-direction: row;
        font-size: 1em;
    }

    #contact{
        height: auto !important;
        display: flex;
        flex-direction: column !important;
        justify-content: space-between !important;
        align-items: center;
        width: 100%;
    }


    .second-line{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #main-nav{
        display: none;
    }

    .main-list{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .main-list a{
        flex: 1;
        width: 100%;
    }

    .main-list:hover{
        background-color: #f3f3eb;
    }

    #logo{
        width: 18em;
        height: auto;
    }

    .hamburger{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 3em;
        width: 3em;
        color: #1C3D41;
        margin-right: 1em;
    }

    .hamburger .bar {
        width: 30px;
        height: 3px;
        background-color: #333;
        margin: 5px 0;
    }

    .services-title{
        font-size: 1.6em !important;
    }

    .card img{
        width: 90% !important;
    }




}

@media (max-width: 650px) {
    .services-list {
        grid-template-columns: repeat(1, 1fr);
    }
    #home{
        height: 23em;

    }

    .welcome-container{
        margin-left: 1em !important;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin-top: 0.3em;

    }
    .location-container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    iframe{
        width: 23em;
        height: 15em;
    }
    #footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    .footer-menu ul{
        align-items: start;
    }
    .footer-menu li{
        margin-left: 1em;
    }

    .location-picker h2{
        font-size: 2.3em;
    }

    .location-picker button{
        height: 3em;
        width: 9em;
        font-size: 2em;
    }
    .location-picker{
        margin: 2em;
    }
    .lokacija,
    .telefon,
    .email{
        margin: 0.5em !important;

    }


}

@media (max-width: 450px) {

    .top-line{
        padding: 0 !important;
    }

}

@media (max-width: 391px) {
    .services-list .card{
        width: 15em;
        height: 20em;
    }

    .location-container{
        width: 100vw;
    }

    iframe{
        margin: 0;
        padding: 0;
        width: 80vw;
    }

    .top-line-left a,
    .top-line-right a{
        font-size: 0.8em;
    }

}
